src/main/java/Proxy/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="BanqueService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8084/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="transfer">
<part name="parameters" element="tns:transfer"></part>
</message>
<message name="transferResponse">
<part name="parameters" element="tns:transferResponse"></part>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"></part>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"></part>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"></part>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"></part>
</message>
<message name="openAccount">
<part name="parameters" element="tns:openAccount"></part>
</message>
<message name="openAccountResponse">
<part name="parameters" element="tns:openAccountResponse"></part>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"></part>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"></part>
</message>
<message name="convertCurrency">
<part name="parameters" element="tns:convertCurrency"></part>
</message>
<message name="convertCurrencyResponse">
<part name="parameters" element="tns:convertCurrencyResponse"></part>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"></part>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"></part>
</message>
<portType name="BanqueService">
<operation name="transfer">
<input wsam:Action="http://Service/BanqueService/transferRequest" message="tns:transfer"></input>
<output wsam:Action="http://Service/BanqueService/transferResponse" message="tns:transferResponse"></output>
</operation>
<operation name="findById">
<input wsam:Action="http://Service/BanqueService/findByIdRequest" message="tns:findById"></input>
<output wsam:Action="http://Service/BanqueService/findByIdResponse" message="tns:findByIdResponse"></output>
</operation>
<operation name="withdraw">
<input wsam:Action="http://Service/BanqueService/withdrawRequest" message="tns:withdraw"></input>
<output wsam:Action="http://Service/BanqueService/withdrawResponse" message="tns:withdrawResponse"></output>
</operation>
<operation name="openAccount">
<input wsam:Action="http://Service/BanqueService/openAccountRequest" message="tns:openAccount"></input>
<output wsam:Action="http://Service/BanqueService/openAccountResponse" message="tns:openAccountResponse"></output>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://Service/BanqueService/getAccountsRequest" message="tns:getAccounts"></input>
<output wsam:Action="http://Service/BanqueService/getAccountsResponse" message="tns:getAccountsResponse"></output>
</operation>
<operation name="convertCurrency">
<input wsam:Action="http://Service/BanqueService/convertCurrencyRequest" message="tns:convertCurrency"></input>
<output wsam:Action="http://Service/BanqueService/convertCurrencyResponse" message="tns:convertCurrencyResponse"></output>
</operation>
<operation name="deposit">
<input wsam:Action="http://Service/BanqueService/depositRequest" message="tns:deposit"></input>
<output wsam:Action="http://Service/BanqueService/depositResponse" message="tns:depositResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="transfer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="openAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="convertCurrency">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BanqueService">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8084/"></soap:address>
</port>
</service>
</definitions>